sudo: required
dist: trusty
language: generic

compiler:
  - gcc

notifications:
  email:
    on_success: never
    on_failure: never

env:
  global:
    - ROS_DISTRO=melodic
    - DOCKER_IMAGE=victorlamoine/ros_vtk8:melodic
    - NOT_TEST_BUILD=true
    - BEFORE_SCRIPT='catkin config -w $CATKIN_WORKSPACE --no-install'
  matrix:
    - ROS_REPOSITORY_PATH=http://packages.ros.org/ros/ubuntu

install:
- git clone https://github.com/ros-industrial/industrial_ci.git .ci_config

script:
- source .ci_config/travis.sh

